body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin: 0;
}

/* =================
    Typography 
   ================= */

h1 {
    font-size: 2.5em;
    font-weight: 400;
    text-shadow: 5px 5px 10px #816fca;
}

h2 {
    font-size: 2em;
    padding: 0.375em 0;
}

.beta-text { 
    font-weight: 900;
}

.subheading {
    color: #575757;
    font-weight: 900;
}

/* =================
    Flex containers
   ================= */

   .intro,
   .main-content {
       display: flex;
       flex-direction: column;    
   }
   
/* =================
    Intro
   ================= */

.intro {
    justify-content: center;
    min-height: 250px;
    text-align: center;
    color: #fff;
    background-color: #9480e4;
}

/* ====================
    Main content
   ==================== */
.main-content {
    align-items: center;
    
    padding: 2.5em 2em 0 2em;
}

.img-main {
    width: 120px;
    border-radius: 50%;
}

/* =================
    Form
   ================= */
   

/* =================
    Media queries 
   ================= */